<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.username %></h1>
    <p>
     The translation background process <b><%=process_name%></b>  with <%=object_name%> has succeeded.
     </p>
     
  </body>
</html>