<p class="pageheading">Edit User Data and/or Reset Password for user: <%= @user.username %> -- <%= @user.email %></p>
<div><b>Leave password and confirmation blank if the user has not specifically requested a password change</b></div>  

  <%=render 'form' %>

<%= link_back users_path %>

