<script language="javascript" type="text/javascript">
        //<!-- This script sets up dual list boxes with the appropriate ids -->
        
        $(function() {
            $.configureBoxes({box1View : "available-translation-languages-box",
                              box2View : "assigned-translation-languages-box",
                              box1Filter : "available-translation-languages-filter",
                              box2Filter : "assigned-translation-languages-filter",
                              box1Clear : "available-translation-languages-filter-clear",
                              box2Clear : "assigned-translation-languages-filter-clear",
                              box1Counter : "available-translation-languages-counter",
                              box2Counter :  "assigned-translation-languages-counter",
                              box1Storage :   "box1Storage-tl",
                              box2Storage :   "box2Storage-tl",
                              to1 : "to1-tl",
                              to2 : "to2-tl"});
        });
         //This funcion ensures that all values in the receiving listbox are extracted and written. They must be selected for this.
         $(document).ready(function(){
          deleteBlanksFromSelectBox('#availableLanguagesBox');
         });//end ready

         //This function is necessary to remove a blank that formtastic leaves in the first listbox.
         function deleteBlanksFromSelectBox(boxId){
           $(boxId + " :empty").remove();
         }
         
    </script>

        <!--div id="calmapp-versions-table" class='nested-fields' style='display:table' -->
        <div id="calmapp-versions-table" class='nested-fields' style='display:table; border:2px outset;border-color:#ffe990; margin-left:20px;margin-right:1px margin-top:3px; margin-bottom:3px;padding-top:2px;padding-bottom:2px;width:80%;"}'>
                <!--%= f.inputs do% -->
                      <!--%= f.input :version, label: false, required: false, input_html: {style: "margin-left:25%"}% -->
                      <%= f.input :version,  required: true,wrapper_html: {style: "margin-left:20px"}%>
                      <span><%= link_to_remove_association t($FA +"remove_version"), f, :style => "font-size: smaller;"   %></span>
                      <!--%= f.semantic_fields_for :calmapp_versions_translation_languages do |cavtl| % -->
                      <!--%= f.semantic_fields_for :translation_languages do |cavtl| %-->
                           <!-- %TranslationLanguage.order("name ASC").all.each do |tl|% -->

                              <!-- %=check_box_tag("calmapp[calmapp_versions][translation_languages][]", tl.id, f.object.translation_languages.include?(tl))%> &nbsp; < %=tl.name% -->
                           <!--%end% -->
                          <!--%= render :partial=>'calmapp_versions_translation_language_fields', :locals=>{:f=> cavtl}  %-->
                               <!--%=f.input :calmapp_versions_translation_languages, 
                               :as => :check_boxes,
                               :collection => TranslationLanguage.all % -->
                      <!--%end% -->

                      <!--div class='add-tablecell'>

                          < %= link_to_add_association(t($FA + 'add_translation_language'),
                            f, :calmapp_versions_translation_languages,
                          :partial => 'calmapp_versions_translation_language_fields', :render_options => {:locals => { }}, :style=> "margin-left:20px;font-size: smaller;") %>

                     </div -->
                     <!--span>< %= link_to_remove_association t($FA +"remove_version"), f, :style => "font-size: smaller;"   %></span-->
                  <!--%end% -->


                       <!--%= f.input :translation_languages, :as => :check_boxes, :collection => TranslationLanguage.order('name ASC').all  % -->



                <%=f.semantic_errors :calmapp_id%>
                <%=f.semantic_errors :calmapp%>


       </div>
