<h3>A user has contacted Translator Application</h3>

Hi <%=@responder.actual_name%><br/>
<%=@contact.user.actual_name%> has posted a contact request.
You can go to the request and help the user by clicking
<%=edit_contact_url(@contact.id)%>

With metta

Your Translator App




