<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    Dear <%=@user.username%><br/></br/>
    <p style = 'margin-bottom:5px;'>Your account with Vipassana Translator is now complete. </p>
    <%if ! @user.roles_list.empty? %>
    <p style = 'margin-bottom:5px;'>You can now commense work as <%=@user.roles_list%>.</p>
    <%end%>
    <p style = 'margin-bottom:5px;'>If you have problems or questions, try the help files <i>menu/Help/User Help</i>.</p>
    
    <p style = 'margin-bottom:5px;'>Do not hestiate to contact us via the <i>menu/Help/Contact Us</i> if you have further questions.</p>
    
    <p style = 'margin-bottom:10px;'>We wish you success in translating or helping translators.</p>
    
    with metta<br/></br/><br/></br/>
    
    <%=@admin.actual_name%><br/></br/><br/></br/>
    
    Vipassana Translalator Admin
    
  </body>
</html>
