<h3>AdminMailer#user_invitation_accepted</h3>

Hi <%= @admin_user.username%><br>,
<p><%=@new_user.actual_name%> has accepted their invitation. </p> 
<p>Please click the link below and give him/her the requiste privileges</p>
<p>Please go to Translator and seach for this user on their email address : <%=@new_user.email%> so that you can give the correct privileges</p>
<br> @edit_url
With metta

Translator Admin Team 






app/views/admin_mailer/user_invitation_accepted.html.erb
