<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>



Hi <%= @admin_user.username%><br>,
<p><%=@new_user.actual_name%> has accepted their invitation. </p> 
<p style = 'margin-bottom:10px;'>Please click the link below and give him/her the requiste privileges,<br/><%=@link%></p>

 
<p style = 'margin-bottom:5px;'>With metta</p>

<p style = 'margin-bottom:5px;'><%=User.find(@new_user.invited_by_id.actual_name%>
<p style = 'margin-bottom:5px;'>Translator Admin Team</p> 

 </body>
</html>





