/* This file contains colours etc appropriate for jquery "sunny" theme.
 * If you use another theme, then copy and change this file and import it into the main scss file for the application
 * @import 'sunny'
 * */
$mid-heading-colour: #ba6f05;
$nested-border-colour: #ffe88f;
$data-even-colour: #FEDD6D; 
$data-new-color: #e5a34f;
$table-header-background-colour: #fece2f;
$tooltip-background: saddlebrown;
$tooltip-hint-emphasis-color: red;
$tooltip-heading-color: yellow;
$profile-form-color: #E7B51C;
$headingcolor:#F9C513; /*#0074c7; /*#C6E5E7;*/
$anchorcolor: #0000ff;
$anchorhovercolor: #008000;
$table-border-color: darkgoldenrod;
$warning-background-color: #FFD700;
