/* This file contains colours etc appropriate for jquery "sunny" theme.
 * If you use another theme, then copy and change this file and import it into the main scss file for the application
 * @import 'smoothness'
 * */
$mid-heading-colour:  rgba( 180,180,180, 1);/*#ba6f05;*/
$nested-border-colour: rgba( 100,100,100, 0.6);/*#ffe88f;*/
$data-even-colour: rgba(220,220,220, 0.7);/*rgba(105,105,105,0.2);//#FEDD6D;*/ 
$data-new-color: #e5a34f;
$table-header-background-colour: gainsboro;/*#fece2f;*/
$tooltip-background: saddlebrown;
$tooltip-hint-emphasis-color: red;
$tooltip-heading-color: yellow;
$profile-form-color: rgba(120,120,120,0.5);/*#E7B51C;*/
$headingcolor: #14BDF7;/*#2F69DF ;//#F9C513; /*#0074c7; /*#C6E5E7;*/
$anchorcolor: #0000ff;
$anchorhovercolor: #008000;
$body-color: dimgray;/*rgba(218,217,218, 0.9) ;//hsla(0,0,0, 0.6);//#333;*/
$table_border-color: rgba( 100,100,100, 0.6);
$editor-background-color: rgba( 180,180,180, 0.4);
$warning-background-color: yellow;