//@import 'sunny';
@import 'smoothness.css';
.ui-tooltip, .arrow:after {
    background: $tooltip-background;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    /*text-transform: uppercase;*/
    box-shadow: 0 0 7px $tooltip-background;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
  
 span.coloured-em-hint {
   color: $tooltip-hint-emphasis-color;
 }
 
 
 div.tt-heading{
   font-weight: 800;
   color: yellow;
   margin-bottom: 20px; 
 } 
 div.tt-example{
   margin-bottom: 20px;
   font-weight: 500;
   color: $tooltip-heading-color
   
 }
 p.tt-example-head{
   
 }
div.tt-description{
  font-wight: 500;
  color: $tooltip-hint-emphasis-color;
}
span.tt-general-help{
  font-wight: 500;
  font-size: 80%;
}
