/* This import contains the matching colours etc for jquery sunny them*/
/*@import 'sunny';*/
/*@import 'smoothness';*/

/* from applicaton.css */
/*@import 'smoothness.css';*/
body {
  /*background-color: $body-color; /*#BB6F04; /*#4B7399;*/
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}



.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}
/* added caps_lock status so that it matches flash_alert */


.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
#user_nav{
  color: #ffffff;
  width:90%;
  text-align:right;
}
#user_nav a{
  color:#ffffff;
}
#username{
  font-style:italic;
}
/* end appliaton.css */













$margin:2px;
$padding:2px; 
$footerheight:70px;
$menuwidth:250px; 

$indexfont-weight:550;
$indexfont-size: small;


/*#CAEAFF;*/

html,body{
    /* overrides what is in application.css (from nifty)*/
    background-color: dimgray;
    /*$body-color;/ * /#cd923f;*/
    height:100%;
    margin:0px;
    padding:0px;
    }
img.logo{
  height:40px;
  padding:3px;
  float:left;
}
#headerlayout td{
   /*border-style:solid;*/
}
#headerlayout{
    width:90%;
}
.heading, .subheading{
    color: #14BDF7;
    /*$headingcolor;*/
    text-align:center;
    vertical-align:middle;
}
.heading{
  font-size:30px;
  font-weight:800;
 
}
.subheading{
  font-size:14px;
  font-weight:200;
}
#signout, #languages {
  float:right;
}
.applanguagetd{
   text-align:right;
   vertical-align:bottom;
}
#bigcontainer{
  min-height:100%;
  position:relative; 
}

#appheader{
  margin:$margin;
  height:60px;
}

#midcontainer, #appmaintable{
  margin:$margin;
  padding-bottom:$footerheight;
  width:100%;
  min-height:100%;
}
#appmenutd{
  margin:$margin;
  width:$menuwidth;
  padding:$padding;
  /*background-color:#E2F2FF;*/
}
#appmenutd, #appmaintd{
  vertical-align:top
}
div#container{
  
  border-radius: 4px;
}
#spacer{
  position:relative;
}
#appmain{
  position:absolute;
  left:$menuwidth+$margin*2 +$padding*2;
  margin:$margin;
  padding:$padding;
  width:90%;
  height:500px;
}

#appfooter{
  clear:left;
  position:absolute;
  width:100%;
  height: $footerheight;
  margin:$margin;
  bottom:0;
}
 
#extruderMenu{
  background-color:#cccccc;
  }  
footer{ 
   font-size:small;
   font-weight:700;
}
#buttonpanel{
    background-color:#444444;
  position:relative;
  left:300px;
}
table.data{
     border-color:#637897; 
     border-style:solid;
     border-width:thin;
} 
table.data{
  /*border-collapse:collapse;*/
  
}
$editor-background-color: rgba( 180,180,180, 0.4);
$nested-border-colour: rgba( 100,100,100, 0.6);
div#table{
  border:solid;
  border-color: $nested-border-colour;
  /**/
  margin: 0px;
  padding:0px;
}
/**
 *   file and web-browser are classes in jquery.treeview take out
 */

table.data{
  border-color: rgba( 100,100,100, 0.6);
  /*$table-border-color;*/
}
table.plural-editor{
  background-color : $editor-background-color;
}
table.array-editor{ 
  background-color : $editor-background-color;
}
ul.order-editor{
  background-color : $editor-background-color;
}
  
tr.dataodd, tr.dataeven, span.file, span.web-browser{ //}, div.addChildrenLocation {
  font-size: $indexfont-size;
  font-weight: $indexfont-weight;
}
tr.dataeven, div.dataeven{
  background-color: rgba(220,220,220, 0.7);
  /*$data-even-colour; / * #CAEAFF;*/
}
tr.dataodd, div.dataodd{
  
}
div.new{
  background-color: #e5a34f
  /*$data-new-color*/
}
tr.dataheader, div#table div#header-row{
  background-color:gainsboro;
  /*$table-header-background-colour;*/
  font-weight:700;
  #font-size: 120%;
}
td.data, td.dataheader, td.linkheader, td.link{
  padding:5px;
}
div#header-row > div{
  padding:3px;
  
}

ul.menu{
  list-style-type:none; 
  /*padding:4px;*/
  font-size:small;
  padding: 0px;
  margin:0px;
}
#signoutbutton{
  
}
table.whiteboard{
  border-style:none;
}
tr.whiteboard{

}
td.whiteboardname{
  vertical-align:top;
  text-align:right;
  font-size:smaller;
  font-weight:600;
  
}
td.whiteboardlink{
   vertical-align:bottom;
   
}

td.whiteboarddate{
   vertical-align: bottom;
   font-size: xx-small;   
}
td.whiteboard{
 border-style:solid;
 border-color:black;
 border-width:thin;
 padding:10px;
 margin-bottom:4px;
 width:300px;
}
.pageheading{
 font-weight:700;
 font-size:larger;
 }
 
 td.link{
   
 }
 #firelanguagechange{
  display:none;
 }
 
 /* for will_paginate */
.next_page, .previous_page{
  font-size:smaller;
  font-weight:600;
}
.pagination em, .pagination a{
  font-size:smaller;
  font-weight:600;
}
/* @ deprecated for new rails 3 error handler (set up in application helper) */
div.errorHeaderCount{
  border-style:solid;
  border-width:2;
  border-color:red;
  font-size:larger;
  font-weight: 600;
}
/* @ deprecated for new rails 3 error handler (set up in application helper) */
ul.errorList{
  border-style: solid;
  border-width:1;
  border-color:red;
}
abbr[title="required"]{
 color:red;
}
// These are for the Location Tree links
/*a.markLocationDeletedLink, a.editLocationLink, a.addChildLocationLink{

}*/
//An extra paragraph for the add children links
/*div.addChildrenLocation{
}*/

select.dualBox1{
  height:300px;
  width:50px;
}

select.dualBox2{
  height:300px;
  width:50px;
}
$languageBoxWidth : 200px;
$languageBoxHeight : 200px;
$filtermargintopbottom: 3px;
$filtermarginright:3px;

#availableLanguagesBox{
  height:$languageBoxHeight;
  width:$languageBoxWidth;
}
#selectedLanguagesBox{
  height:$languageBoxHeight;
   width: $languageBoxWidth;
}
#availableLanguageFilterSpan{
  
/*   width: ;*/
}
#selectedLanguagesFilterSpan{

/*   width: $languageBoxWidth;*/
}
#availableLanguagesFilter{
   margin-top:$filtermargintopbottom;
   margin-bottom:$filtermargintopbottom;
   /*margin-right:$filtermarginright;*/
   width: $languageBoxWidth;
}
#selectedLanguagesFilter{
   margin-top:$filtermargintopbottom;
   margin-bottom:$filtermargintopbottom;
   /*margin-right:$filtermarginright;*/
   width: $languageBoxWidth;
}
#availableLanguagesFilterClear{


}
#selectedLanguagesFilterClear{

}
#availableLanguagesCounter{

}
#selectedLanguagesCounter{

}
button.toFrom{
 width: 30px;
}



#translation_upload_translation{
  width:400px;
}
/*
#translation_dot_key_code, #translation_translation,#translation1_dot_key_code, #translation1_translation,#translation2_dot_key_code, #translation2_translation{
  width:500px;
}
*/
a, .ui-widget-color a, .ui-widget-content a {
  color: #0000ff;
  /*$anchorcolor;*/
  background-color: transparent;
  //color: #0000FF;
}
//ul.menu 
a{
  
}
//ul.menu 
a:hover{
  color:  #008000;
  /*$anchorhovercolor;*/
  background-color: transparent;
}
/* Goes with Best in place */
.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}
/* Stuff for selection criteria */
div.criteria{
  display: block; 
  border: solid;
  border-width:1px;
  border-color: rgba(220,220,220, 0.7);
  /*$data-even-colour;*/ 
  padding: 5px;
  margin: 5px;
}
.criteria-operators-select{
  width:25%;
}
label.criteria-label{
  /* Doesn't work?? */
  width:20%;
}

/* Styling  for cocoon nested fields */

form.formtastic fieldset.padding0 > ol{
  padding-left:20px;
}

form.formtastic fieldset > ol > li.nested-fields{
  border-width:2px;
  border-bottom-style:solid;
  border-color: $nested-border-colour;
  /*$nested-border-colour;*/
  padding-bottom:10px;
  padding-left: 20px;
}
form.formtastic fieldset > ol > li.nested-fields li{
  margin-left:20px;
  //background-color: green; 
  
}
$mid-heading-colour: rgba( 180,180,180, 1);
.nesting-heading {
  font-size:15px; 
  font-weight:700;
  margin-left:20px;
  color:  $mid-heading-colour;
  
}

/*.nested-heading {
  
  
}*/
form.formtastic li.nesting-add-fields, li.nesting-add-fields {
  //margin-left:10px;
}
form.formtastic li.nesting-add-fields > a.add_fields, li.nesting-add-fields > a.add_fields {
  //margin-left:10px;
  //font-size: smaller;
}
.nested-remove-fields{
  
}
form.formtastic fieldset.inputs > legend > span, form.formtastic fieldset.inputs > ol > legend > span{
  color: $mid-heading-colour;
  font-weight : bold;
}
td.profilecheckboxtd{
  width:45px;
}
 $profile-form-color:rgba(120,120,120,0.5);;
table.profiles-form  tr.dataodd{
  background-color: $profile-form-color;
}
li.invisible-visible, table.checkboxes{
  background-color: #dbd9df;
}

flash_notice, #flash_error, #flash_alert, #flash_success, #caps_lock_status, #flash_warning, #flash_info, #flash_error1, #flash_error2 {
  padding: 5px 8px;
  margin: 10px 0;
  width:80%;
}
$warning-background-color: yellow;
#flash_notice, #flash_warning{
  background-color: $warning-background-color;/*#FFD700; /*yellow */
  border: solid 1px #C66;
}
 #flash_info, #flash_success {
  background-color: #CFC; /*green*/
  border: solid 1px #6C6;
}
/* added caps_lock status so that it matches flash_alert */
#flash_error, #flash_error1, #flash_error2, #flash_alert,#caps_lock_status {
  background-color: #FCC; /*pink*/
  border: solid 1px #C66;
}
