<p><%= t("devise.mailer.invitation_instructions.hello", actual_name: @resource.actual_name) %></p>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", 
   url: root_url(:locale=> locale), app_name: $APPLICATION_NAME).html_safe %></p>


<p><%= link_to t("devise.mailer.invitation_instructions.accept"), 
              accept_invitation_url(@resource, :invitation_token => @token,:locale=>locale) %></p>

<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
<br><br>
<p>With Metta</p>
<br><br>
<p>Vipassana Translator Admin Team</p>
