<h1>Editing location</h1>

<%= render :partial => "shared/location_form" %>

<!-- < %= link_to t("formtastic.actions.back"), location_tree_path(@location) %> -->
<%= link_to t("formtastic.actions.back"), location_tree_index_path %>
