:javascript
  $(document).ready( function() {
    $("#my_tree").treeview();
      $("a.markLocationDeleted").click(function(event){
        var dbId = $(this).attr("title");

        $.ajax({
          url:         "#{mark_location_deleted_path}",
          type:        "POST",
          dataType:    "json",
          data:        {id: dbId,
                    location: {marked_deleted: true}
                   },
          success:     function(data, textStatus, xhr){
                         alert("Update complete");
                       },
          failure:     function(request, status, error){
                         alert(request.responseText);
                       }

        });//end ajax
        //event.preventDefault();
      });//end click
  } );//end ready


            

  

#heading
.pageheading=t("headings.listing.heading", :model=>t($ARM + "location.other") )

-#%h2= "#{controller.action_name}"

%ul#my_tree.filetree
  = display_location_subtree(@root_node)
